<div>
	<label>Title</label>
	<input ng-model="newPostData.title">
	<label>Author</label>
	<input ng-model="newPostData.author">
	<label>Image URL</label>
	<input ng-model="newPostData.image">
	<label>Description</label>
	<input ng-model="newPostData.description">
	<button ng-click="createPost()">Submit Post</button>
</div>
