<div>
	<div>Id: {{info.id}}</div>
	<button ng-click="voteUp(info.id)">Up</button>
	<button ng-click="voteDown(info.id)">Down</button>
	<div>Votes: {{info.votes}}</div>
	<div>Title: {{info.title}}</div>
	<div>Author: {{info.author}}</div>
	<img width="200" height="200" style="object-fit: cover;" ng-src="{{info.image}}">
	<div>Description: {{info.description}}</div>
	<ul>
		<li ng-repeat="comment in info.comments">
			{{comment.text}}
		</li>
	</ul>
</div>
